name: Train Lightweight Models

on:
  push:
    paths:
      - 'src/**'
  workflow_dispatch:

env:
  ARTIFACTS_DIR: 'artifacts'
  NB_MODEL_DIR: 'NaiveBayes'
  NB_SUBDIR: 'nb/'
  NB_HF_REPO: 'theluantran/cefr-naive-bayes'

jobs:
  train-and-upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          path: code

      - name: Checkout training data (private)
        uses: actions/checkout@v4
        with:
          repository: luantran/cefr_data_private
          token: ${{ secrets.DATA_REPO_TOKEN }}
          path: code/
          lfs: true

      - name: Verify data download
        run: |
            ls -lh code/dataset/
            echo "Train set:" && wc -l code/dataset/splits/train_100k.csv
            echo "Test set:" && wc -l code/dataset/splits/test_other_corpora.csv
            echo "Other set:" && wc -l code/dataset/splits/remaining_samples.csv

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: code/requirements.txt

      - name: Install dependencies
        run: |
          cd code
          pip install -r requirements.txt

      - name: Train Naive Bayes
        run: |
          cd code
          python src/scripts/train_nb.py --model ${{ env.NB_MODEL_DIR }} --output-dir ${{ env.ARTIFACTS_DIR }}

      - name: Get Evaluation metrics (Naive Bayes)
        id: evaluate_nb
        run: |
          cd code
          cat ${{ env.ARTIFACTS_DIR }}/${{ env.NB_MODEL_DIR }}/experiment_summary.txt
          
          # Export metrics for conditional upload
          echo "nb_f1=$(jq -r '.in_domain_test_results.classification_metrics.weighted_avg.f1' ${{ env.ARTIFACTS_DIR }}/${{ env.NB_MODEL_DIR }}/results.json)" >> $GITHUB_OUTPUT

      - name: Upload to HuggingFace
        if: steps.evaluate_nb.outputs.nb_f1 > 0.70
        run: |
          cd code
          python src/scripts/upload_nb.py --dir ${{ env.ARTIFACTS_DIR }}/${{ env.NB_MODEL_DIR }}/${{ env.NB_SUBDIR }} --token ${{ secrets.HF_TOKEN }} --repo-dir ${{ env.NB_HF_REPO }}

      - name: Cleanup
        if: always()
        run: rm -rf ${{ env.DATA_DIR }}